{% extends "toeic/secondbase.html" %}

{% block content %}
<script>
    $(document).ready ( function(){
   window.scrollTo(0, 0);
    });
</script>
<div class ="container">
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center"><a href="{% url 'toeic:speakinglesson' speakingtopic_id speakinglesson.id %}">Lesson:
                <strong>{{speakinglesson.text}}</strong></a>
            </h2>
            <hr>
        </div>
         {% load static %}
        <div class="col-lg-12" style = "text-align:center">
        {% if speakingpractice.practicetype.id == 1 %}
            {% for answer,question in answers %}

                <div>
                    <img style ="margin:auto; max-height: 300px" class="img-responsive" src="{% static 'toeic/images/brianandamytalktous.png'%}" alt="">
                </div>
                 {% if question.audio %}
                    <audio id="myAudio-{{question.id}}">
                        <source src="{{ question.audio.url }}" type="audio/wav">
                        <source src="{{ question.audio.url }}" type="audio/mp3">
                            Your browser does not support the audio element.
                    </audio>
                <div style="margin: 20px">
                        <button type="button" style="background-image: url({% static 'toeic/images/playpause.png'%});background-size: 100%; height:50px; width:50px; background-color:transparent; border:none;  vertical-align:bottom;" onclick="aud_play_pause_{{question.id}}()"></button>
                        <button type="button" value="1" id="speed{{question.id}}" class="roundbutton" style="height:48px; width:48px; background-color:#1C268A; color:white;  vertical-align:bottom;" onclick="changespeed_{{question.id}}()">1</button>
                </div>
                            <script>
                            function aud_play_pause_{{question.id}}() {
                              var myAudio = document.getElementById("myAudio-{{question.id}}");
                              if (myAudio.paused) {
                                myAudio.play();
                              } else {
                                myAudio.pause();
                              }
                            };

                            function changespeed_{{question.id}}(){
                                var myAudio = document.getElementById("myAudio-{{question.id}}");
                                currentspeed = document.getElementById("speed{{question.id}}").value;
                                if (currentspeed == "1")
                                {
                                    myAudio.playbackRate = 0.7;
                                    document.getElementById("speed{{question.id}}").innerHTML = "0.7";
                                    document.getElementById("speed{{question.id}}").value = 0.7;
                                }
                                else if (currentspeed == "0.7")
                                {
                                    myAudio.playbackRate = 0.5;
                                    document.getElementById("speed{{question.id}}").value = 0.5;
                                    document.getElementById("speed{{question.id}}").innerHTML = "0.5";
                                  }else
                                {
                                    myAudio.playbackRate = 1;
                                    document.getElementById("speed{{question.id}}").value = 1;
                                    document.getElementById("speed{{question.id}}").innerHTML = "1";
                                }
                            }
                            </script>
                    {% if question.image %}
                        <img style ="margin:auto; max-height: 200px" class="img-responsive" src="{{ question.image.url }}" alt="">
                    {% endif %}
                    {% if answer.image %}
                        <img style ="margin:auto; max-height: 200px" class="img-responsive" src="{{ answer.image.url }}" alt="">
                    {% endif %}
                    {% if answer.hint %}
                        <div id="show-hint" style="cursor: pointer;">Hint</br></div>
                        <div id="hint" style="display:none;">
                    {{answer.hint}}
                        </div>
                    {% endif %}
                    {% endif %}
                    <div style="margin-top:10px"><button type="button" id="rec{{question.id}}" style="background-image: url({% static 'toeic/images/record.png'%});background-size: 100%; height:25px; width:25px; background-color:transparent; border:none" onclick="record_{{question.id}}()"></button>
                                <button type ="button" id="stop{{question.id}}" style="background-image: url({% static 'toeic/images/stop.png'%});background-size: 100%; height:25px; width:25px; background-color:transparent; border:none" onclick="stop_{{question.id}}()"></button>

                                <audio autoplay id="record{{question.id}}"></audio>
                    </div>
                                <script>
                                var context;
                                var onFail = function(e) {
                                    console.log('Rejected!', e);
                                  };

                                  var onSuccess = function(s) {
                                    context = new webkitAudioContext();
                                    var mediaStreamSource = context.createMediaStreamSource(s);
                                    recorder = new Recorder(mediaStreamSource);
                                    recorder.record();

                                    // audio loopback
                                    // mediaStreamSource.connect(context.destination);
                                  }

                                  window.URL = window.URL || window.webkitURL;
                                  navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

                                  var recorder;
                                  var audio = document.getElementById('record{{question.id}}');

                                  function record_{{question.id}}() {
                                    if (navigator.getUserMedia) {
                                      navigator.getUserMedia({audio: true}, onSuccess, onFail);
                                      document.getElementById('rec{{question.id}}').style.backgroundImage = "url({% static 'toeic/images/mic.png'%})";
                                      document.getElementById('stop{{question.id}}').style.backgroundImage = "url({% static 'toeic/images/stop.png'%})";
                                    } else {
                                      console.log('navigator.getUserMedia not present');
                                    }
                                  }
                                  function stop_{{question.id}}() {
                                    if (recorder){
                                         recorder.stop();
                                    recorder.exportWAV(function(s) {
                                      audio.src = window.URL.createObjectURL(s)});
                                    document.getElementById('rec{{question.id}}').style.backgroundImage = "url({% static 'toeic/images/record.png'%})";
                                    document.getElementById('stop{{question.id}}').style.backgroundImage = "url({% static 'toeic/images/play.png'%})";
                                    };

                                    if (context.state !="closed"){
                                        context.close()}
                                  }
                            </script>
                        <div style="margin-top:10px; cursor: pointer;" id="show-answer-{{answer.id}}">Show answer</br></div>
                        <div id="answer-{{answer.id}}" style="display:none;">
                            {{question.text}}</br>
                            {{answer.text}}
                    {% if answer.audio %}
                        <td style ="min-width:140px">
                            <audio id="myAudio-answer_{{answer.id}}">
                            <source src="{{ answer.audio.url }}" type="audio/wav">
                            <source src="{{ answer.audio.url }}" type="audio/mp3">
                            Your browser does not support the audio element.
                            </audio>
                            <button type="button" style="background-image: url({% static 'toeic/images/playpause.png'%});background-size: 100%; height:25px; width:25px; background-color:transparent; border:none;  vertical-align:bottom;" onclick="aud_play_pause_answer_{{answer.id}}()"></button>
                            <button type="button" value="1" id="speed_answer_{{answer.id}}" class="roundbutton" style="height:25px; width:25px; background-color:#1C268A; color:white;  vertical-align:bottom;" onclick="changespeed_answer_{{answer.id}}()">1</button>
                            <script>
                            function aud_play_pause_answer_{{answer.id}}() {
                              var myAudio = document.getElementById("myAudio-answer_{{answer.id}}");
                              if (myAudio.paused) {
                                myAudio.play();
                              } else {
                                myAudio.pause();
                              }
                            };

                            function changespeed_answer_{{answer.id}}(){
                                var myAudio = document.getElementById("myAudio-answer_{{answer.id}}");
                                currentspeed = document.getElementById("speed_answer_{{answer.id}}").value;
                                if (currentspeed == "1")
                                {
                                    myAudio.playbackRate = 0.7;
                                    document.getElementById("speed_answer_{{answer.id}}").innerHTML = "0.7";
                                    document.getElementById("speed_answer_{{answer.id}}").value = 0.7;
                                }
                                else if (currentspeed == "0.7")
                                {
                                    myAudio.playbackRate = 0.5;
                                    document.getElementById("speed_answer_{{answer.id}}").value = 0.5;
                                    document.getElementById("speed_answer_{{answer.id}}").innerHTML = "0.5";
                                }else
                                {
                                    myAudio.playbackRate = 1;
                                    document.getElementById("speed_answer_{{answer.id}}").value = 1;
                                    document.getElementById("speed_answer_{{answer.id}}").innerHTML = "1";
                                }
                            }
                            </script>
                        </div>
                         <script>
                            $( "#show-answer-{{answer.id}}" ).click(function() {
                            $( "#answer-{{answer.id}}" ).fadeToggle(function() {
                            });
                            });

                             $("#show-hint" ).click(function() {
                            $( "#hint" ).fadeToggle(function() {
                            });
                            });
                            </script>
                    {% endif %}
             {% empty %}
          <div>No questions have been added yet.</div>
        {% endfor %}
        {% endif %}
        {% if speakingpractice.practicetype.id == 3 %}
                <div>
                    <img style ="margin:auto; max-height: 300px; " class="img-responsive" src="{% static 'toeic/images/annahelp.png'%}" alt="">
                </div>
            {% for answer in answers %}
                <p style="margin-top:10px; font-size:2em">{{answer.translation}}</p>
                <button type="button" id="rec{{answer.id}}" style="background-image: url({% static 'toeic/images/record.png'%});background-size: 100%; height:25px; width:25px; background-color:transparent; border:none" onclick="record_{{answer.id}}()"></button>
                                <button type ="button" id="stop{{answer.id}}" style="background-image: url({% static 'toeic/images/stop.png'%});background-size: 100%; height: 25px; width: 25px; background-color:transparent; border:none" onclick="stop_{{answer.id}}()"></button>
                                <audio autoplay id="record{{answer.id}}"></audio>
                                <script>
                                var context;
                                var onFail = function(e) {
                                    console.log('Rejected!', e);
                                  };

                                  var onSuccess = function(s) {
                                    context = new webkitAudioContext();
                                    var mediaStreamSource = context.createMediaStreamSource(s);
                                    recorder = new Recorder(mediaStreamSource);
                                    recorder.record();

                                    // audio loopback
                                    // mediaStreamSource.connect(context.destination);
                                  }

                                  window.URL = window.URL || window.webkitURL;
                                  navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

                                  var recorder;
                                  var audio = document.getElementById('record{{answer.id}}');

                                  function record_{{answer.id}}() {
                                    if (navigator.getUserMedia) {
                                      navigator.getUserMedia({audio: true}, onSuccess, onFail);
                                      document.getElementById('rec{{answer.id}}').style.backgroundImage = "url({% static 'toeic/images/mic.png'%})";
                                      document.getElementById('stop{{answer.id}}').style.backgroundImage = "url({% static 'toeic/images/stop.png'%})";
                                    } else {
                                      console.log('navigator.getUserMedia not present');
                                    }
                                  }
                                  function stop_{{answer.id}}() {
                                    if (recorder){
                                         recorder.stop();
                                    recorder.exportWAV(function(s) {
                                      audio.src = window.URL.createObjectURL(s)});
                                    document.getElementById('rec{{answer.id}}').style.backgroundImage = "url({% static 'toeic/images/record.png'%})";
                                    document.getElementById('stop{{answer.id}}').style.backgroundImage = "url({% static 'toeic/images/play.png'%})";
                                    };

                                    if (context.state !="closed"){
                                        context.close()}
                                  }
                            </script>
                         <div id="show-answer-{{answer.id}}" style="cursor: pointer;">Show answer</br></div>
                        <div id="answer-{{answer.id}}" style="display:none;">
                            {{answer.text}}
                    {% if answer.audio %}
                        <td style ="min-width:140px">
                            <audio id="myAudio-answer_{{answer.id}}">
                            <source src="{{ answer.audio.url }}" type="audio/wav">
                            <source src="{{ answer.audio.url }}" type="audio/mp3">
                            Your browser does not support the audio element.
                            </audio>
                            <button type="button" style="background-image: url({% static 'toeic/images/playpause.png'%});background-size: 100%; height:25px; width:25px; background-color:transparent; border:none;  vertical-align:bottom;" onclick="aud_play_pause_answer_{{answer.id}}()"></button>
                            <button type="button" value="1" id="speed_answer_{{answer.id}}" class="roundbutton" style="height:25px; width:25px; background-color:#1C268A; color:white;  vertical-align:bottom;" onclick="changespeed_answer_{{answer.id}}()">1</button>
                            <script>
                            function aud_play_pause_answer_{{answer.id}}() {
                              var myAudio = document.getElementById("myAudio-answer_{{answer.id}}");
                              if (myAudio.paused) {
                                myAudio.play();
                              } else {
                                myAudio.pause();
                              }
                            };

                            function changespeed_answer_{{answer.id}}(){
                                var myAudio = document.getElementById("myAudio-answer_{{answer.id}}");
                                currentspeed = document.getElementById("speed_answer_{{answer.id}}").value;
                                if (currentspeed == "1")
                                {
                                    myAudio.playbackRate = 0.7;
                                    document.getElementById("speed_answer_{{answer.id}}").innerHTML = "0.7";
                                    document.getElementById("speed_answer_{{answer.id}}").value = 0.7;
                                }
                                else if (currentspeed == "0.7")
                                {
                                    myAudio.playbackRate = 0.5;
                                    document.getElementById("speed_answer_{{answer.id}}").value = 0.5;
                                    document.getElementById("speed_answer_{{answer.id}}").innerHTML = "0.5";
                                }else
                                {
                                    myAudio.playbackRate = 1;
                                    document.getElementById("speed_answer_{{answer.id}}").value = 1;
                                    document.getElementById("speed_answer_{{answer.id}}").innerHTML = "1";
                                }
                            }
                            </script>
                        </div>
                         <script>
                            $( "#show-answer-{{answer.id}}" ).click(function() {
                            $( "#answer-{{answer.id}}" ).fadeToggle(function() {
                            });
                            });

                             $("#show-hint" ).click(function() {
                            $( "#hint" ).fadeToggle(function() {
                            });
                            });
                            </script>
                   {% endif %}
             {% endfor %}
        {% endif %}
        <div class="pagination">
        <span class="step-links">
        {% if answers.has_previous %}
            <a href="?page={{ answers.previous_page_number }}"><button class="btn btn-info" name="" style ="width:100px">previous</button></a>
        {% endif %}
        {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}"><button class="btn btn-info" name="" style ="width:100px">next</button></a>
        {% elif remain != 0 %}
            <a href="{% url 'toeic:speakingpractice' speakingtopic_id speakinglesson.id remain %}"><button class="btn btn-info" name="" style ="width:100px">next</button></a>
        {% else %}
            <a href="{% url 'toeic:speakingtopic' speakingtopic_id%}"><button class="btn btn-info" name="" style ="width:100px">next</button></a>
        {% endif %}
    </span>
</div>
   </div>
</div>
</div>
{% endblock content %}